In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from catboost import  CatBoostClassifier
from sklearn.preprocessing import  StandardScaler, MinMaxScaler
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier
from imblearn.under_sampling import OneSidedSelection, TomekLinks
from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE, ADASYN, BorderlineSMOTE
from imblearn.combine import SMOTETomek, SMOTEENN
from lightgbm import LGBMClassifier
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import VotingClassifier
from pycaret.classification import *
from sklearn.linear_model import LinearRegression

In [24]:
train = pd.read_csv("./smhrd_data/Train.csv")
temp_dis = train['Discount_offered']
train.drop(['ID', 'Gender'], axis=1, inplace=True)
# 결측치의 형태가 ?인 데이터를 NA로 대체
train = train.replace('?', pd.NA)

# Warehouse_block 컬럼 이름에 공백들어가 있어서 재설정
train.columns = ['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Discount_offered', 'Weight_in_gms', 'Reached.on.Time_Y.N']

# 연속형 변수중에서 이상치 제거 (개수가 많지 않을뿐더러 5개를 채우려고 하는 것은 비효율적이라고 생각하기 때문)
train = train[(train['Customer_rating']!=99) & (train['Cost_of_the_Product']!=9999)]

# Mode_of_Shipment에서 끝에 zk가 붙은 이상치 수정
train['Mode_of_Shipment'] = train['Mode_of_Shipment'].apply(lambda x: x.replace('zk', '') if pd.notna(x) else x)
train = train[train['Product_importance'].notnull()]

# Product_importance에서 끝에 m이 하나씩 더붙은 이상치 수정
train['Product_importance'] = train['Product_importance'].apply(lambda x: x[:-1] if x[-1]==x[-2] else x)

train['Weight_in_gms'] = train['Weight_in_gms'].apply(lambda x: int(x) if str(x).isdigit() else x)
train['Mode_of_Shipment'].fillna(' Ship', inplace=True)

def fill_calls(row) :
    if np.isnan(row['Customer_care_calls']):
        return pt1.loc[(row['Customer_rating'], row['Mode_of_Shipment'])]
    else:
        return row['Customer_care_calls']

pt1 = train[['Customer_care_calls', 'Customer_rating', 'Mode_of_Shipment']].groupby(['Customer_rating', 'Mode_of_Shipment']).agg(lambda x: x.mode().iloc[0])
train['Customer_care_calls'] = train.apply(fill_calls, axis = 1).astype('int64')

train['Weight_in_gms'].fillna(3424, inplace=True)

train['Weight_in_gms'] = train['Weight_in_gms'].apply(lambda x:int(x))

train['Prior_purchases'] = train['Prior_purchases'].apply(lambda x: 3 if pd.isnull(x) else x)
model = LinearRegression()
def stochastic_regression_imputation(df, target_column, feature_column):
    global model
    # 결측값과 비결측값을 분리하여 학습 데이터와 예측 데이터 생성
    train_data = df.dropna(subset=[target_column])
    test_data = df[df[target_column].isnull()]
    
    # 선형 회귀 모델 학습
    model.fit(train_data[feature_column], train_data[target_column])
    
    # 예측값 생성
    predictions = model.predict(test_data[feature_column])

    # 예측값으로 결측값 대체
    df.loc[df[target_column].isnull(), target_column] = predictions

# Stochastic regression imputation 실행
stochastic_regression_imputation(train, 'Discount_offered', ['Weight_in_gms', 'Cost_of_the_Product'])

train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6897 entries, 0 to 6998
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6897 non-null   object
 1   Mode_of_Shipment     6897 non-null   object
 2   Customer_care_calls  6897 non-null   int64
 3   Customer_rating      6897 non-null   int64
 4   Cost_of_the_Product  6897 non-null   int64
 5   Prior_purchases      6897 non-null   float64
 6   Product_importance   6897 non-null   object
 7   Discount_offered     6897 non-null   float64
 8   Weight_in_gms        6897 non-null   int64
 9   Reached.on.Time_Y.N  6897 non-null   int64
dtypes: float64(2), int64(5), object(3)
memory usage: 592.7+ KB

In [25]:
test = pd.read_csv("./smhrd_data/test.csv")
test.drop(['ID', 'Gender'], axis=1, inplace=True)

# 결측치의 형태가 ?인 데이터를 NA로 대체
test = test.replace('?', pd.NA)

# Warehouse_block 컬럼 이름에 공백들어가 있어서 재설정
test.columns = ['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Discount_offered', 'Weight_in_gms']


# Mode_of_Shipment에서 끝에 zk가 붙은 이상치 수정
test['Mode_of_Shipment'] = test['Mode_of_Shipment'].apply(lambda x: x.replace('zk', '') if pd.notna(x) else x)
test['Product_importance'].fillna('low', inplace=True)

# Product_importance에서 끝에 m이 하나씩 더붙은 이상치 수정
test['Product_importance'] = test['Product_importance'].apply(lambda x: x[:-1] if x[-1]==x[-2] else x)

test['Weight_in_gms'] = test['Weight_in_gms'].apply(lambda x: int(x) if str(x).isdigit() else x)
test['Mode_of_Shipment'].fillna(' Ship', inplace=True)

def fill_calls(row) :
    if np.isnan(row['Customer_care_calls']):
        return pt1.loc[(row['Customer_rating'], row['Mode_of_Shipment'])]
    else:
        return row['Customer_care_calls']

pt1 = train[['Customer_care_calls', 'Customer_rating', 'Mode_of_Shipment']].groupby(['Customer_rating', 'Mode_of_Shipment']).agg(lambda x: x.mode().iloc[0])
test['Customer_care_calls'] = test.apply(fill_calls, axis = 1).astype('int64')

test['Weight_in_gms'].fillna(3424, inplace=True)

test['Weight_in_gms'] = test['Weight_in_gms'].apply(lambda x:int(x))

test['Prior_purchases'] = test['Prior_purchases'].apply(lambda x: 3 if pd.isnull(x) else x)
def stochastic_regression_imputation(df, target_column, feature_column):
    global model
    # 결측값과 비결측값을 분리하여 학습 데이터와 예측 데이터 생성
    test_data = df[df[target_column].isnull()]
    
    # 예측값 생성
    predictions = model.predict(test_data[feature_column])

    # 예측값으로 결측값 대체
    df.loc[df[target_column].isnull(), target_column] = predictions

# Stochastic regression imputation 실행
stochastic_regression_imputation(test, 'Discount_offered', ['Weight_in_gms', 'Cost_of_the_Product'])

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      4000 non-null   object
 1   Mode_of_Shipment     4000 non-null   object
 2   Customer_care_calls  4000 non-null   int64
 3   Customer_rating      4000 non-null   int64
 4   Cost_of_the_Product  4000 non-null   int64
 5   Prior_purchases      4000 non-null   float64
 6   Product_importance   4000 non-null   object
 7   Discount_offered     4000 non-null   float64
 8   Weight_in_gms        4000 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 281.4+ KB

In [26]:
input = train.iloc[:,:-1]
target = train.iloc[:,-1]

In [27]:
exp_clf = setup(data = input, target = target, session_id=123, normalize_method='minmax', fix_imbalance = True)

best_model = compare_models()

In [28]:
# 방법 1
ada = create_model('ada')
tuned_ada = tune_model(ada)
gbc = create_model('gbc')
tuned_gbc = tune_model(gbc, search_library = 'optuna')

blender_2 = blend_models(estimator_list = [tuned_ada, tuned_gbc])

final_model = finalize_model(blender_2)

[I 2023-08-10 09:40:20,218] Searching the best hyperparameters using 4827 samples...
[I 2023-08-10 09:41:58,920] Finished hyperparemeter search!

[I 2023-08-10 09:42:15,418] Searching the best hyperparameters using 4827 samples...
[I 2023-08-10 09:44:05,172] Finished hyperparemeter search!

In [30]:
gbc = create_model('gbc')
tuned_gbc = tune_model(gbc, search_library = 'optuna')

[I 2023-08-10 09:45:39,598] Searching the best hyperparameters using 4827 samples...
[I 2023-08-10 09:48:07,558] Finished hyperparemeter search!

In [11]:
# 66.58 
# exp_clf = setup(data = input, target = target, session_id=123, normalize_method='sta')

# best_model = compare_models()

# tuned_ada = tune_model(ada)

# prediction = predict_model(tuned_ada, data = test)
# prediction

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [31]:
prediction1 = predict_model(tuned_gbc, data = test)
prediction1

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Discount_offered,Weight_in_gms,prediction_label,prediction_score
0,F,Ship,3,1,274,3.0,high,6.567113,4352,0,0.5001
1,F,Ship,3,4,136,2.0,medium,27.881275,1056,1,0.5002
2,A,Flight,3,5,140,3.0,low,7.000000,5383,0,0.5001
3,C,Ship,3,1,291,4.0,low,15.082297,1880,0,0.5000
4,F,Ship,4,2,147,3.0,low,5.000000,5174,0,0.5001
...,...,...,...,...,...,...,...,...,...,...,...
3995,A,Ship,4,1,204,4.0,low,21.300413,1667,0,0.5000
3996,C,Ship,4,3,195,2.0,medium,13.334435,3869,1,0.5001
3997,B,Flight,4,3,206,2.0,medium,7.000000,4531,0,0.5001
3998,C,Ship,6,4,255,4.0,low,7.000000,1869,0,0.5000
3999,D,Ship,5,1,252,5.0,low,4.000000,1308,0,0.5000

In [37]:
prediction1['prediction_label']

0       0
1       1
2       0
3       0
4       0
       ..
3995    0
3996    1
3997    0
3998    0
3999    0
Name: prediction_label, Length: 4000, dtype: int32

In [32]:
result = pd.read_csv('./smhrd_data/sampleSubmission.csv')
result['Reached.on.Time_Y.N'] = prediction1['prediction_label']
result.to_csv('result_pycaret05.csv', index=False)

In [36]:
result = pd.read_csv('result_pycaret03.csv')
count = 0
for i in range(len(prediction['prediction_label'])):
    if result['Reached.on.Time_Y.N'][i]==prediction['prediction_label'][i]:
        count += 1
        
print(count)

3365