In [1]:
#1
print("Hello World")

Hello World

In [2]:
#2
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
#4
print('"C:\Windows"')

"C:\Windows"

In [8]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 개행
# \t 스페이스*4

안녕하세요.
만나서		반갑습니다.

In [9]:
#6
print('오늘은', '월요일')

오늘은 월요일

In [12]:
#7
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [13]:
#8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [14]:
#9
print("first", end='');print("second")

firstsecond

In [15]:
#10
print(5/3)

1.6666666666666667

In [16]:
#11
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [17]:
#12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [20]:
#13
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [21]:
#14
2 + 2 * 3

8

In [22]:
#15
a = "132"
print(type(a))

<class 'str'>

In [23]:
#16
num_str = '720'
num_str = int(num_str)
print(type(num_str), num_str)

<class 'int'> 720

In [24]:
num = 100
num = str(num)
print(type(num), num)

<class 'str'> 100

In [25]:
s = "15.79"
s = float(s)
print(s)

15.79

In [30]:
# 19
year = '2020'
year = int(year)

print(year - 3)
print(year - 2)
print(year - 1)

2017
2018
2019

In [31]:
#20
fee = 48584
month = 36
print(fee * month)

1749024

In [33]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [34]:
#22
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [37]:
#23
stringtring = '홀짝홀짝홀짝'
print(string[0]+string[2]+string[4])

홀홀홀

In [40]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [42]:
#25
phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

010 1111 2222

In [43]:
#26
phone_number = '010-1111-2222'
print(phone_number.replace('-', ''))

01011112222

In [45]:
#27
url = "http://sharebook.kr"
print(url.split('.')[1])

kr

In [46]:
#28
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [49]:
#29
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A
abcdfe2a354a32a

In [50]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [51]:
#31
a = "3"
b = "4"
print(a + b)

34

In [52]:
#32
print("HI" * 3)

HIHIHI

In [53]:
#33
print('-' * 80)

--------------------------------------------------------------------------------

In [61]:
#34
t1 = 'python'
t2 = 'java'
total = t1 + " " + t2 + " "
print(total * 4)

python java python java python java python java

In [67]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이: %d"%(name1, age1))
print("이름 : %s 나이: %d"%(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [64]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : {} 나이: {}".format(name1, age1))
print("이름 : {} 나이: {}".format(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [65]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [68]:
#38
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',', ""))
print(상장주식수)

5969782550

In [69]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [70]:
#40
data = "   삼성전자    "
print(data.strip())

삼성전자

In [71]:
#41
ticker = 'btc_krw'
print(ticker.upper())

BTC_KRW

In [72]:
#42
ticker = 'btc_krw'
print(ticker.lower())

btc_krw

In [73]:
#43
#41
ticker = 'hello'
print(ticker.capitalize())

Hello

In [74]:
#44
file_name = '보고서.xlsx'
print(file_name.endswith('xlsx'))

True

In [79]:
#45
file_name = "보고서.xls"
print(file_name.endswith(('xlsx', 'xls')))

True

In [80]:
#46
file_name = '2020_보고서.xlsx'
print(file_name.startswith('2020'))

True

In [81]:
#47
a = "hello world"
print(a.split(' '))

['hello', 'world']

In [82]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [83]:
#49
date = "2020-05-01"
year, month, day = date.split('-')
print(year, month, day)

2020 05 01

In [84]:
#50
data = "039490     "
print(data.rstrip())

039490

In [1]:
#51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [2]:
#52
movie_rank.append("배트맨")

In [3]:
#53
movie_rank.insert(2, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '슈퍼맨', '럭키', '배트맨']

In [ ]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

In [5]:
#55
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [6]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max: {min(nums)}')
print(f'max: {max(nums)}')

max: 1
max: 7

In [8]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [9]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [10]:
#60
nums =  [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [11]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [12]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [13]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [17]:
#64
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

In [18]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[-1])

삼성전자 Naver

In [20]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [21]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [22]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [23]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [24]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [25]:
#71
my_variable = ()

In [26]:
#72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [28]:
#73
a = (1, )
print(a)

(1,)

In [ ]:
#74
t = (1, 2, 3)
t[0] = 'a'

In [29]:
#75
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [30]:
#76
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [32]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [34]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [35]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [37]:
#80
a = tuple(range(2, 100, 2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)