##### 단축키
- dd 삭제
- b 아래 셀 추가
- a 위 셀 추가
- x 잘라내기
- c 복사
- v 붙여넣기
- shift + m 셀 합치기
- ctrl + shift + - 셀 분할
- ctrl + a 셀 전체 선택
- ctrl + d 현재 행 삭제

In [1]:
code = 1 # 주석

In [11]:
# 자료형 (정수)
num1 = 13
print(num1)

num2 = 25
print(num2)

num2 = 77
print(num2)

print(type(num2))

13
25
77
<class 'int'>

In [10]:
# 자료형 (실수)
num3 = 3.1425
print(num3)

num4 = 1.25
print(num4)

num4 = 3.12
print(num4)

print(type(num4))

3.1425
1.25
3.12
<class 'float'>

In [12]:
# 자료형 (문자열)
str1 = "Funny python"
print(str1)

str2 = "Easy python"
print(str2)

print(type(str2))

Funny python
Easy python
<class 'str'>

In [22]:
# 변수명 규칙
# 영문자, 숫자, 언더바 사용가능 (대소문자 구분)
number = 10
Number = 20
print(f"number : {number}")
print(f"Number : {Number}")

num1_num2 = 10
num1_num2

# 숫자로 시작 불가능
# ex) 1a = 10

SyntaxError: invalid decimal literal (3097680436.py, line 12)