In [1]:
#1
print("Hello World")

Hello World

In [2]:
#2
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
#4
print('"C:\Windows"')

"C:\Windows"

In [8]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 개행
# \t 스페이스*4

안녕하세요.
만나서		반갑습니다.

In [9]:
#6
print('오늘은', '월요일')

오늘은 월요일

In [12]:
#7
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [13]:
#8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [14]:
#9
print("first", end='');print("second")

firstsecond

In [15]:
#10
print(5/3)

1.6666666666666667

In [16]:
#11
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [17]:
#12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [20]:
#13
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [21]:
#14
2 + 2 * 3

8

In [22]:
#15
a = "132"
print(type(a))

<class 'str'>

In [23]:
#16
num_str = '720'
num_str = int(num_str)
print(type(num_str), num_str)

<class 'int'> 720

In [24]:
num = 100
num = str(num)
print(type(num), num)

<class 'str'> 100

In [25]:
s = "15.79"
s = float(s)
print(s)

15.79

In [30]:
# 19
year = '2020'
year = int(year)

print(year - 3)
print(year - 2)
print(year - 1)

2017
2018
2019

In [31]:
#20
fee = 48584
month = 36
print(fee * month)

1749024

In [33]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [34]:
#22
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [37]:
#23
stringtring = '홀짝홀짝홀짝'
print(string[0]+string[2]+string[4])

홀홀홀

In [40]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [42]:
#25
phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

010 1111 2222

In [43]:
#26
phone_number = '010-1111-2222'
print(phone_number.replace('-', ''))

01011112222

In [45]:
#27
url = "http://sharebook.kr"
print(url.split('.')[1])

kr

In [46]:
#28
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [49]:
#29
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A
abcdfe2a354a32a

In [50]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [51]:
#31
a = "3"
b = "4"
print(a + b)

34

In [52]:
#32
print("HI" * 3)

HIHIHI

In [53]:
#33
print('-' * 80)

--------------------------------------------------------------------------------

In [61]:
#34
t1 = 'python'
t2 = 'java'
total = t1 + " " + t2 + " "
print(total * 4)

python java python java python java python java

In [67]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이: %d"%(name1, age1))
print("이름 : %s 나이: %d"%(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [64]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : {} 나이: {}".format(name1, age1))
print("이름 : {} 나이: {}".format(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [65]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [68]:
#38
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',', ""))
print(상장주식수)

5969782550

In [69]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [70]:
#40
data = "   삼성전자    "
print(data.strip())

삼성전자

In [71]:
#41
ticker = 'btc_krw'
print(ticker.upper())

BTC_KRW

In [72]:
#42
ticker = 'btc_krw'
print(ticker.lower())

btc_krw

In [73]:
#43
#41
ticker = 'hello'
print(ticker.capitalize())

Hello

In [74]:
#44
file_name = '보고서.xlsx'
print(file_name.endswith('xlsx'))

True

In [79]:
#45
file_name = "보고서.xls"
print(file_name.endswith(('xlsx', 'xls')))

True

In [80]:
#46
file_name = '2020_보고서.xlsx'
print(file_name.startswith('2020'))

True

In [81]:
#47
a = "hello world"
print(a.split(' '))

['hello', 'world']

In [82]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [83]:
#49
date = "2020-05-01"
year, month, day = date.split('-')
print(year, month, day)

2020 05 01

In [84]:
#50
data = "039490     "
print(data.rstrip())

039490