In [1]:
#1
print("Hello World")

Hello World

In [2]:
#2
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
#4
print('"C:\Windows"')

"C:\Windows"

In [8]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 개행
# \t 스페이스*4

안녕하세요.
만나서		반갑습니다.

In [9]:
#6
print('오늘은', '월요일')

오늘은 월요일

In [12]:
#7
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [13]:
#8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [14]:
#9
print("first", end='');print("second")

firstsecond

In [15]:
#10
print(5/3)

1.6666666666666667

In [16]:
#11
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [17]:
#12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [20]:
#13
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [21]:
#14
2 + 2 * 3

8

In [22]:
#15
a = "132"
print(type(a))

<class 'str'>

In [23]:
#16
num_str = '720'
num_str = int(num_str)
print(type(num_str), num_str)

<class 'int'> 720

In [24]:
num = 100
num = str(num)
print(type(num), num)

<class 'str'> 100

In [25]:
s = "15.79"
s = float(s)
print(s)

15.79

In [30]:
# 19
year = '2020'
year = int(year)

print(year - 3)
print(year - 2)
print(year - 1)

2017
2018
2019

In [31]:
#20
fee = 48584
month = 36
print(fee * month)

1749024

In [33]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [34]:
#22
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [37]:
#23
stringtring = '홀짝홀짝홀짝'
print(string[0]+string[2]+string[4])

홀홀홀

In [40]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [42]:
#25
phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

010 1111 2222

In [43]:
#26
phone_number = '010-1111-2222'
print(phone_number.replace('-', ''))

01011112222

In [45]:
#27
url = "http://sharebook.kr"
print(url.split('.')[1])

kr

In [46]:
#28
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [49]:
#29
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A
abcdfe2a354a32a

In [50]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [51]:
#31
a = "3"
b = "4"
print(a + b)

34

In [52]:
#32
print("HI" * 3)

HIHIHI

In [53]:
#33
print('-' * 80)

--------------------------------------------------------------------------------

In [61]:
#34
t1 = 'python'
t2 = 'java'
total = t1 + " " + t2 + " "
print(total * 4)

python java python java python java python java

In [67]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이: %d"%(name1, age1))
print("이름 : %s 나이: %d"%(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [64]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : {} 나이: {}".format(name1, age1))
print("이름 : {} 나이: {}".format(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [65]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [68]:
#38
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',', ""))
print(상장주식수)

5969782550

In [69]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [70]:
#40
data = "   삼성전자    "
print(data.strip())

삼성전자

In [71]:
#41
ticker = 'btc_krw'
print(ticker.upper())

BTC_KRW

In [72]:
#42
ticker = 'btc_krw'
print(ticker.lower())

btc_krw

In [73]:
#43
#41
ticker = 'hello'
print(ticker.capitalize())

Hello

In [74]:
#44
file_name = '보고서.xlsx'
print(file_name.endswith('xlsx'))

True

In [79]:
#45
file_name = "보고서.xls"
print(file_name.endswith(('xlsx', 'xls')))

True

In [80]:
#46
file_name = '2020_보고서.xlsx'
print(file_name.startswith('2020'))

True

In [81]:
#47
a = "hello world"
print(a.split(' '))

['hello', 'world']

In [82]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [83]:
#49
date = "2020-05-01"
year, month, day = date.split('-')
print(year, month, day)

2020 05 01

In [84]:
#50
data = "039490     "
print(data.rstrip())

039490

In [1]:
#51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [2]:
#52
movie_rank.append("배트맨")

In [3]:
#53
movie_rank.insert(2, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '슈퍼맨', '럭키', '배트맨']

In [ ]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

In [5]:
#55
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [6]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max: {min(nums)}')
print(f'max: {max(nums)}')

max: 1
max: 7

In [8]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [9]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [10]:
#60
nums =  [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [11]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [12]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [13]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [17]:
#64
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

In [18]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[-1])

삼성전자 Naver

In [20]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [21]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [22]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [23]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [24]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [25]:
#71
my_variable = ()

In [26]:
#72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [28]:
#73
a = (1, )
print(a)

(1,)

In [ ]:
#74
t = (1, 2, 3)
t[0] = 'a'

In [29]:
#75
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [30]:
#76
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [32]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [34]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [35]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [37]:
#80
a = tuple(range(2, 100, 2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [45]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores
print(a)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [44]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *c = scores
print(c)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [46]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *b, c = scores
print(b)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [47]:
#84
temp = {}

In [49]:
#85
dic = {'메로나':1000, '폴라포':1200, '빵빠레':1800}

In [50]:
#86
dic['죠스바'] = 1200
dic['월드콘'] = 1500

In [51]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(ice['메로나'])

1000

In [52]:
#88
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice['메로나'])

1300

In [53]:
#89
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']

In [ ]:
#90
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 존재 x key

In [54]:
#91
inventory = {'메로나':(300, 20), '비비빅':{400, 3}, '죠스바':{250, 100}}
print(inventory)

{'메로나': (300, 20), '비비빅': {400, 3}, '죠스바': {250, 100}}

In [55]:
#92
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0])

300

In [56]:
#93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][1])

20

In [57]:
#94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['월드콘'] = (500, 7)

In [60]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

lst = list(icecream.keys())
print(lst)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [61]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

lst = list(icecream.values())
print(lst)

[1200, 1200, 1800, 1500, 1000]

In [62]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

lst = list(icecream.values())
print(sum(lst))

6700

In [66]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [67]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = {}

for key, val in zip(keys, vals):
    result[key] = val

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [68]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = {}

for key, val in zip(date, close_price):
    close_table[key] = val

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [1]:
#131
과일 = ['사과', '귤', '수박']
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [3]:
#133
for 변수 in ['A', 'B', 'C']:
    print(변수)

A
B
C

In [4]:
#134
for 변수 in ['A', 'B', 'C']:
    print('출력: ', 변수)

출력:  A
출력:  B
출력:  C

In [5]:
#135
for 변수 in ['A', 'B', 'C']:
    b = 변수.lower()
    print('변환:', b)

변환: a
변환: b
변환: c

In [6]:
#136
for i in [10, 20, 30]:
    print(i)

10
20
30

In [7]:
#137
for i in [10, 20, 30]:
    print(i)

10
20
30

In [8]:
#138
for i in [10, 20, 30]:
    print(i)
    print('------')

10
------
20
------
30
------

In [9]:
#139
print('++++')
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [11]:
#140
for i in range(4):
    print('------')

------
------
------
------

In [12]:
#141
lst = [100, 200, 300]

for i in lst:
    print(i+10)

110
210
310

In [13]:
#142
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print(f"오늘의 메뉴 : {i}")

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [14]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

In [15]:
#144
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [16]:
#145
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [17]:
#146
리스트 = [1, 2, 3]

for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [18]:
#147
리스트 = [1, 2, 3]

for i in 리스트:
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [21]:
#148
리스트 = ["가", "나", "다", "라"]

for i in range(1, len(리스트)):
    print(리스트[i])

나
다
라

In [22]:
#149
리스트 = ["가", "나", "다", "라"]

for i in range(0, len(리스트), 2):
    print(리스트[i])

가
다

In [23]:
#150
리스트 = ["가", "나", "다", "라"]

for i in range(len(리스트)-1, -1, -1):
    print(리스트[i])

라
다
나
가

In [2]:
#150
리스트 = ["가", "나", "다", "라"]

for i in 리스트[3:-1:-1]:
    print(리스트[i])

In [16]:
리스트[3:0,]

[]

In [24]:
#151
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0 :
        print(i)

-20
-3

In [25]:
#152
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 ==0:
        print(i)

3

In [27]:
#153
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20 and i % 3 == 0 :
        print(i)

12
18

In [28]:
#154
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [29]:
#155
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [30]:
#156
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if not i.isupper():
        print(i)

b
c

In [37]:
#157
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [38]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [39]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [40]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [ ]:
#161
for i in range(0, 100):
    print(i)

In [41]:
#162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [42]:
#163
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [43]:
#164
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [46]:
#165
for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [47]:
#166
for i in range(1, 10):
    print(f"3x{i} = {3*i}")

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [48]:
#167
for i in range(1, 10, 2):
    print(f"3x{i} = {3*i}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [49]:
#168
re = sum(range(1,11))
print(re)

55

In [50]:
#169
re = sum(range(1,11, 2))
print(re)

25

In [51]:
#170
re = 1
for i in range(1, 11):
    re *= i
print(re)

3628800

In [52]:
#171
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [53]:
#172
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [55]:
#173
price_list = [32100, 32150, 32000, 32500]

for i in range(3, -1, -1):
    print(i, price_list[-i-1])

3 32100
2 32150
1 32000
0 32500

In [58]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1, len(price_list)):
    print(100 + (10*(i-1)), price_list[i])

100 32150
110 32000
120 32500

In [59]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [60]:
#176
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [63]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [64]:
#178
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [66]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print(sum(my_list[i:i+3])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [71]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)):
    volatility.append(low_prices[i] - high_prices[i])
    
print(volatility)

[-50, -100, -30, -80, 0]

In [1]:
#181
apart = [['101호', '102호'],
        ['201호', '202호'],
        ['301호', '302호']]

print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [2]:
#182
stock = [['시가', 100, 200, 300],
        ['종가', 80, 210, 330]]

print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [3]:
#183
stock = {'시가':[100, 200, 300], '종가':[80, 210, 330]}
print(stock.keys())
print(stock.values())

dict_keys(['시가', '종가'])
dict_values([[100, 200, 300], [80, 210, 330]])

In [4]:
#184
stock = {'10/11':[80, 110, 70, 90], '10/11':[210, 230, 190, 200]}
print(stock.keys())
print(stock.values())

dict_keys(['10/11'])
dict_values([[210, 230, 190, 200]])

In [5]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(f"{j} 호")

101 호
102 호
201 호
202 호
301 호
302 호

In [20]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)-1, -1, -1):
    for j in apart[i]:
        print(f"{j} 호")

301 호
302 호
201 호
202 호
101 호
102 호

In [22]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)-1, -1, -1):
    for j in range(len(apart[i])-1, -1, -1):
        print(f"{apart[i][j]} 호")

302 호
301 호
202 호
201 호
102 호
101 호

In [23]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(f"{j} 호")
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [24]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(f"{j} 호")
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [25]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(f"{j} 호")
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [30]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [31]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print('-----------')

2000.28
3050.427
2050.2870000000003
1980.2772
-----------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----------
15452.163
15052.107
15552.177
14902.086000000001
-----------

In [32]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
lst = []
for i in data:
    for j in i:
        lst.append(j*1.00014)

print(lst)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [33]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
lst = []

for i in data:
    temp = []
    for j in i:
        temp.append(j*1.00014)
    lst.append(temp)

print(lst)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [35]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,4):
    print(ohlc[i][3])

100
190
310

In [36]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [38]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [39]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []

for row in ohlc[1:]:
    volatility.append(row[1] - row[2])

print(volatility)

[40, 30, 10]

In [40]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1] - row[2])

10

In [41]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
total = 0

for row in ohlc[1:]:
        total += (row[0] - row[3])

print(total)

0